*{
    box-sizing: border-box;
<<<<<<< HEAD
    margin: 0px;
    padding: 0;
}
fieldset{
    max-width: 500px;
}
=======
    margin: 0;
    padding: 0;
}
>>>>>>> 1bfe7a4c3af9d5af14b7e7091020eaebc07d1d20
.col{
    margin: 10 0;
    margin-left: 5;
}
.row{
    display: flex;  
    justify-content: center;
}

.col:first-child{
    text-align: right;
    width: 40%;
    margin: 10 0;
}
.col:last-child{
    width: 60%;
}
/* #doc{
    display: flex;
    justify-content: end;
    align-items: flex-end;
} */
