*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    border: black solid 1px;
    border-radius: 20px;
    padding: 10px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10 0;
    width: 300px;
}
#submit{
    width: 200;
}
    /* #main{
        max-width: 300px;
    } */
.row {
    display: flex;
    align-items: center;
}
.col{
    margin-left: 5px;   
    margin-right: 40px; 
}
.col:first-child {
    text-align: right;
    width: 30%;
}
.col:last-child {
    width: 70%;
}

#submit{
    margin-left: -5px;
}
