*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3{
    margin: 10 0;
}
.col{
    margin: 5 5;
}
input:invalid{
    border-color: red ;
}
input[type="checkbox"]{
    margin-left: 5px;
}